<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="img/Fred Flintstone.jpg">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="main-content">
    {{>header}}
    <p>The site was crated by Fred Flintstone. It uses data from mapbox.com and weatherstack.com.</p>
    <img class="portrait" src="img/Fred Flintstone.jpg">
  </div>

  {{>footer}}
</body>

</html>